{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load socialaccount %}

{% get_providers as socialaccount_providers %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<h1>{% trans "Войти" %}</h1>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Вы можете войти, используя одноклассники, либо свой аккаунт. Также вы можете <a href="{{ signup_url }}">зарегестрироваться</a>
на сайте {{ site_name }} :{% endblocktrans %}</p>

<div class="socialaccount_ballot">
<ul class="list-inline banner-social-buttons">
    {% for provider in socialaccount_providers %}
                    <li>
                        <a href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Одноклассники</span></a>
                    </li>
{#                    <li>#}
{#                        <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>#}
{#                    </li>#}
    {% endfor %}
                </ul>
{#  <ul class="socialaccount_providers">#}
{#    {% include "socialaccount/snippets/provider_list.html" with process="login" %}#}
{#  </ul>#}

  <div class="login-or">{% trans 'или' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">Зарегестрироваться</a> first.{% endblocktrans %}</p>
{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
</form>

{% endblock %}
